<section>
  <article class="section3">
    <div class="container">
      <div class="row gx-5">
        <div class="col-xl-4 col-md-12">
          <h4>Latest Posts</h4>
          <div class="date1">
            <div class="date2 align-items-center">
              <div>27</div>
              <div>July</div>
            </div>
            <div class="date3">
              Parada motocykli enduro w Kaliszu. Przejazd przez centrum.
            </div>
          </div>
          <div class="date1">
            <div class="date2 align-items-center">
              <div>27</div>
              <div>July</div>
            </div>
            <div class="date3">
              Zlot pojazdów zabytkowych w Krotoszynie
            </div>
          </div>
          <div class="date1">
            <div class="date2 align-items-center">
              <div>27</div>
              <div>July</div>
            </div>
            <div class="date3">
              Rozpoczęcie sezonu motocyklowego w Ostrowie Wielkopolskim
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-md-12">
          <h4>About</h4>
          <div class="justify">To jest moja pierwsza strona internetowa.
            Strona poświęcona nauce programowania aplikacji webowych. Uczę się front-endu i back-endu.
            Bardzo ciekawy i rozwijający świat.
            Życie staje się jeszcze bardziej skomplikowane a za razem piękne.
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <h4>Stay Connected</h4>
          <div class="socialmedia">
            <a href="https://pl-pl.facebook.com/">
              <div class="sel">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook
              </div>
            </a>
            <a href="https://twitter.com/?lang=pl">
              <div class="sel">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                Twitter
              </div>
            </a>
            <a href="#">
              <div class="sel">
                <i class="fa fa-rss-square" aria-hidden="true"></i>
                RSS
              </div>
            </a>
            <a href="https://www.google.pl/">
              <div class="sel">
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                Google+
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<footer class="foot">
  Copyright (c) 2023. All rights reserved Car parts sp. z.o.o
</footer>
