<section>
  <article class="section1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-xl-5">
          <h3>Sklep</h3>
          Sklep z częściami samochodowymi i motocyklowymi. Posiadamy wybór części do większości marek
          samochodów. W ofercie mamy zarówno części mechaniczne jak i elementy karoserii.

          Sklep został założony w 2023 roku i od tego momentu rozwijamy działalność na terenie Polski oraz
          innych krajów Europy.
          <a href="https://otomoto.pl">
            <button type="button" class="btn btn-primary btn-md">Czytaj więcej</button>
          </a>
        </div>
        <div class="col-xl-7 col-md-12 photo">
          <img src="assets/diferential.jpg">
        </div>
      </div>
    </div>
  </article>
</section>
<section>
  <article class="section2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            Marki
          </h1>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-xl-4 col-md-12 photo">
          <img src="assets/suspension.png">
          <div class="kontent">
            <h3>Zawieszenie</h3>
            W ofercie posiadamy zawieszenie do wielu rodzaji samochodów. Od sedanów po auta terenowe.
            Zapraszamy do zapoznania się z przedstawionymi produktami. W linku poniżej dostępna jest opcja
            kupna od razu. Towar dostarczony będzie najpóźniej kolejnego dnia roboczego
          </div>
          <a href="shop.html">
            <button type="button" class="btn btn-primary btn-md">Kup teraz</button>
          </a>
        </div>
        <div class="col-xl-4 col-md-12 photo">
          <img src="assets/multi.jpg">
          <div class="kontent">
            <h3>Multi</h3>
            Wiele części, różnego rodzaju. Osprzęt silnika, części małe i duże.
          </div>
          <a href="shop.html">
            <button type="button" class="btn btn-primary btn-md">Czytaj więcej</button>
          </a>

        </div>
        <div class="col-xl-4 col-md-12 photo">
          <img src="assets/car.jpg">
          <div class="kontent">
            <h3>Całe samochody</h3>
            Całe samochody na sprzedaż. Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
          </div>
          <a href="https://pl.wikipedia.org/wiki/Suzuki">
            <button type="button" class="btn btn-primary btn-md">Czytaj więcej</button>
          </a>
        </div>
      </div>
    </div>
  </article>
</section>
